/* --------------------------------------
                   fonts
---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ------------------------------------------ 
          common style or utilities 
-------------------------------------------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* ---------------------------------
                Banner 
------------------------------------*/

.banner{
    display: flex;
    color: white;
    background-color: #161616;
    border-radius: 25px;
    margin: 50px 120px 0;
    height: 620px;
}
.banner-left{
    width: 50%;
    margin-left: 120px;
    margin-top: 50px;
}
.banner-title{
    font-size: 60px;
    margin-bottom: 10px;
}
.banner-btn{
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}
.banner-right{
    width: 50%;
}
.banner-image img{
    margin-top: 30px;
    margin-right: 70px;
    height: 590px; 
}



/* ---------------------------------
                Blogs
------------------------------------*/


.navbar-and-blogs{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 100px;
}



.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blog{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    margin: 20px;
}
.blog-bottom{
    padding: 20px;
}
.blog-btn{
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
}

.blog-icon{
    display: flex;
}
.blog-comment{
    margin-left: 30px;
    color: rgb(153, 153, 153);
}
.blog-time{
    color: rgb(153, 153, 153);
}
.special-btn button{
    display: none;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}



/* ---------------------------------
                Nav-bar
------------------------------------*/


.nav-bar{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    height: 290px;
    width: 290px;
    background-color: #161616;
}
.nav-bar a{
    text-decoration: none;
    color: #161616;
    
}

.nav-btn{
    width: 80%;
    margin: 25px 25px 0;
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    background-color: white;
    
}
#selected{
    background-color: blueviolet;
}
#selected a{
    color: white;
}



/* ---------------------------------
                Footer
------------------------------------*/


.footer-container{
    background-color: #161616;
    color: white;
    height: 420px;
    text-align: center;  
}
.footer-contant{
    padding-top: 50px;
    margin: 0 150px;
}
.footer-heading{
    font-size: 40px;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.footer-bottom div{
    padding: 0 20px;
}
hr{
    margin-bottom: 50px;
}
.social-media, .fa-brands{
    padding: 20px;
    font-size: 30px;
    color: white;
}



/* ---------------------------------
            Media Queries
------------------------------------*/

/*------Mobile devics--------*/

@media only screen and (max-width: 688px) {

    /* ------------Banner------------*/
    .banner{
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 630px;
        border-radius: 10px;
        margin: 20px 0 0 27px;
    }
    .banner-image img{
        padding-left: 65px;
        margin-top: 30px;
        margin-right: 0px;
        height: 230px; 
    }
    .banner-title{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .banner-left{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
    }

    /* ------------navbar-and-blogs------------*/

    .navbar-and-blogs{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-content: center;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
    }

    /* ------------Footer------------*/

    .footer-container{
        height: 620px;
    }
    .footer-contant{
        padding-top: 20px;
        margin: 0 60px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column; 
        padding: 0;
        margin-top: 20px;
    }
    .footer-bottom div{
        padding: 0;
        margin-top: 20px;
    }
}



/*------Tablet devics--------*/

@media only screen and (min-width: 689px) and (max-width: 991px) {

     /* ------------Banner------------*/
    .banner{
        display: flex;
        width: 93%;
        height: 530px;
        border-radius: 10px;
        margin: 20px 0 0 27px;
    }
    .banner-image img{
        padding-left: 50px;
        margin-top: 120px;
        margin-right: 40px;
        height: 310px; 
    }
    .banner-title{
        font-size: 38px;
        margin-bottom: 10px;
    }
    .banner-left{
        width: 100%;
        margin-left: 60px;
        margin-top: 20px;
    }

     /* ------------navbar-and-blogs------------*/
    .navbar-and-blogs{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        justify-content: center;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background-color: white;
    }

     /* ------------Footer------------*/
    .footer-container{
        height: 490px;
    }

    .footer-bottom{
        display: flex;
        flex-wrap: wrap; 
        width: 500px;
        padding: 10;
        margin-top: 20px;
    }
    .footer-bottom div{
        margin-top: 20px;
    }
    
}